*{
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/36487/above-adventure-aerial-air.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    color: rgb(253, 252, 252);
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

.clock{
    cursor: pointer;
    width: 200px;
    height: 200px;
    background-color: rgba(245, 245, 220, .0);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 250px 50px inset, rgba(0, 0, 0, 0.15)
     0px -36px 300px 50px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 
     0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 
     0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.clock, .numbers{
    --rotation: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    transform: rotate(var(--rotation));
}

#num1 {--rotation: 30deg;}
#num2 {--rotation: 60deg;}
#num3 {--rotation: 90deg;}
#num4 {--rotation: 120deg;}
#num5 {--rotation: 150deg;}
#num6 {--rotation: 180deg;}
#num7 {--rotation: 210deg;}
#num8 {--rotation: 240deg;}
#num9 {--rotation: 270deg;}
#num10 {--rotation: 300deg;}
#num11 {--rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock::after{
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#secs{
    width: 2px;
    height: 40%;
    background-color: rgb(255, 0, 0, 0.8);   
}
#mins{
    width: 4px;
    height: 35%;
    background-color: rgb(255, 255, 255, 0.8);   
}
#hours{
    width: 6px;
    height: 30%;
    background-color: rgb(255, 255, 255, 0.8);   
}
#footer{
    position: relative;
    padding-top: 450px;
    padding-left: 0px;
    padding-right: 550px;
    background-color: rgb(171, 219, 219, 0.0);
}
.copy{
    color: black;
    padding: 15px;
    padding-left: 30px;
    background-color: rgb(138, 43, 226, 0.0);
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 250px 50px inset, rgba(0, 0, 0, 0.15)
     0px -36px 300px 50px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 
     0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 
     0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
} 
.copy:hover{
    background-color: black;
    color: #fff;
    font-style: italic;
}
.copy:active{
    font-size: 20px;
}